@import "tailwindcss";

@theme {
  --color-platinum: #F1F5F9;
  --color-ink: #0E141B;
  --color-oxford: #07325F;
  --color-bluebell: #3E92CC;
  --color-dusty: #758471;
}

:root {
  background-color: #F1F5F9;
  color: #0E141B;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}